################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Protocols_Delegates_Events/.vs/Protocols_Delegates_Events/v15
